<header>
    <div class="htlfndr-top-header">
        <div class="navbar navbar-default htlfndr-blue-hover-nav">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#htlfndr-first-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="htlfndr-logo navbar-brand" href="{% url 'home' %}">
                        <img src="http://127.0.0.1:8000/static/images/logo.png" alt="Logo"/>
                        <p class="htlfndr-logo-text">hotel <span>finder</span></p>
                    </a>
                </div><!-- .navbar-header -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="htlfndr-first-nav">
                    <!-- List with sing up/sing in links -->
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav htlfndr-singup-block">
                            <li>
                                <a href="{% url 'user_profile' %}"><span>Hello, {{user.username}}</span></a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}" ><span>log out</span></a>
                            </li>
                        </ul><!-- .htlfndr-singup-block -->
                    {% else %}
                        <ul class="nav navbar-nav htlfndr-singup-block">
                            <li>
                                <a href="{% url 'register' %}"><span>sing up</span></a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}"><span>sing in</span></a>
                            </li>
                        </ul><!-- .htlfndr-singup-block -->
                    {% endif %}

                    <!-- List with currency and language dropdowns -->
                    <ul class="nav navbar-nav htlfndr-custom-select htlfndr-currency">
                        <li>
                            <label for="htlfndr-currency" class="sr-only">Change currency</label>
                            <select name="htlfndr-currency" id="htlfndr-currency" tabindex="-1">
                                <option value="eur">eur</option>
                                <option value="gbp">gbp</option>
                                <option value="jpy">jpy</option>
                                <option value="usd" selected="selected">usd</option>
                            </select>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav htlfndr-custom-select htlfndr-language">
                        <li id="htlfndr-dropdown-language">
                            <label for="htlfndr-language" class="sr-only">Change language</label>
                            <select name="htlfndr-language" id="htlfndr-language" tabindex="-1">
                                <option value="eng" selected="selected">eng</option>
                                <option value="ger">ger</option>
                                <option value="jap">jap</option>
                                <option value="ita">ita</option>
                                <option value="fre">fre</option>
                                <option value="rus">rus</option>
                            </select>
                        </li>
                    </ul><!-- .htlfndr-top-menu-dropdowns -->
                </div><!-- .collapse.navbar-collapse -->
            </div><!-- .container -->
        </div><!-- .navbar.navbar-default.htlfndr-blue-hover-nav-->
    </div><!-- .htlfndr-top-header -->
    <!-- Start of main navigation -->
    <div class="htlfndr-under-header">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#htlfndr-main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div><!-- .navbar-header -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="htlfndr-main-nav">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'home' %}">home</a>
                        </li>
                        <li>
                            <a href="{% url 'user_profile' %}">user profile</a>
                        </li>
                    </ul>
                </div><!-- .collapse.navbar-collapse -->
            </div><!-- .container -->
        </nav><!-- .navbar.navbar-default.htlfndr-blue-hover-nav -->
    </div><!-- .htlfndr-under-header -->
    <!-- End of main navigation -->
    <noscript><h2>You have JavaScript disabled!</h2></noscript>
</header>