{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}

{% block content %}

<div class="container">
		<div id="htlfndr-edit-card">
			<div class="htlfndr-content-card">
				<div class="htlfndr-card-title clearfix">
					<a class="glyphicon glyphicon-remove pull-right" href="#"  data-dismiss="modal"></a>
					<h2 class="pull-left">Edit Card</h2> <span> (Visa XXXX XXXX XXXX 1234)</span>
				</div>
				<form id="htlfndr-contact-form" method="post">
					<h4>Card  Number</h4>
					<input id="htlfndr-edit-credit-card" class="htlfndr-input " type="text" name="htlfndr-number-card" placeholder="XXXX XXXX XXXX XXXX">
					<div class="htlfndr-info-card row">
						<div class="col-md-9 col-sm-9 htlfndr-card-name">
							<h4>Cardholder Name</h4>
							<input id="htlfndr-name-card" class="htlfndr-input" type="text" name="htlfndr-name-card" placeholder="John Brown">
						</div>
						<div class="col-md-3 col-sm-3 htlfndr-card-valid">
							<h4>Valid Thru</h4>
							<input id="htlfndr-valid-card" class="htlfndr-input" type="text" name="htlfndr-valid-card" placeholder="mm/yy">
						</div>
					</div>
					<input type="submit" value="Save edit">
				</form>
			</div>
		</div>
		<div id="htlfndr-add-card">
			<div class="htlfndr-content-card">
				<div class="htlfndr-card-title clearfix">
					<a class="glyphicon glyphicon-remove pull-right" href="#"  data-dismiss="modal"></a>
					<h2 class="pull-left">Add Card</h2>
				</div>
				<form id="htlfndr-contact-form" method="post">
					<h4>Card  Number</h4>
					<input id="htlfndr-add-credit-card" class="htlfndr-input " type="text" name="htlfndr-number-card" placeholder="XXXX XXXX XXXX XXXX">
					<div class="htlfndr-info-card row">
						<div class="col-md-9 col-sm-9 htlfndr-card-name">
							<h4>Cardholder Name</h4>
							<input id="htlfndr-new-name-card" class="htlfndr-input" type="text" name="htlfndr-new-name-card" placeholder="John Brown">
						</div>
						<div class="col-md-3 col-sm-3 htlfndr-card-valid">
							<h4>Valid Thru</h4>
							<input id="htlfndr-new-valid-card" class="htlfndr-input" type="text" name="htlfndr-new-valid-card" placeholder="mm/yy">
						</div>
					</div>
					<input type="submit" value="Save edit">
				</form>
			</div>
		</div>
		<main id="htlfndr-main-content" role="main">
			<div class="row htlfndr-user-tabs htlfndr-credit-card-page">
				<div class="htlfndr-user-person-navigation-wrapper col-sm-4 col-md-3">
					<div class="htlfndr-user-person-navigation">
						<div class="htlfndr-user-avatar">
							<img src="http://placehold.it/130x130" alt="user avatar"/>
						</div>
						<h3 class="htlfndr-user-name">john brown</h3>
						<h6 class="htlfndr-user-membership">member since may 2012</h6>
						<ul role="tablist">
							<li><a href="#htlfndr-user-tab-1"><i class="fa fa-user"></i> personal info</a></li>
							<li><a href="#htlfndr-user-tab-2"><i class="fa fa-clock-o"></i> booking history</a></li>
							<li><a href="#htlfndr-user-tab-3"><i class="fa fa-credit-card"></i> credit cards</a></li>
							<li><a href="#htlfndr-user-tab-4"><i class="fa fa-heart-o"></i> wishlist</a></li>
							<li><a href="#htlfndr-user-tab-5"><i class="fa fa-wrench"></i> settings</a></li>
						</ul>
					</div><!-- .htlfndr-user-person-navigation -->
				</div><!-- .htlfndr-user-person-navigation-wrapper -->
				<div class="htlfndr-user-panel col-sm-8 col-md-9 htlfndr-info-page">
					<div id="htlfndr-user-tab-1" class="htlfndr-description-table">
						<div class="row htlfndr-counters">
							<div class="col-md-3 col-sm-6">
								<div class="htlfndr-counter-block">
									<div class="htlfndr-icon-holder"><i class="fa fa-plane"></i></div>
									<dl class="htlfndr-counter-numbers">
										<dt class="htlfndr-count">12467</dt>
										<dd>miles</dd>
									</dl>
								</div><!-- .htlfndr-counter-block -->
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="htlfndr-counter-block">
									<div class="htlfndr-icon-holder"><i class="fa fa-building-o"></i></div>
									<dl class="htlfndr-counter-numbers">
										<dt class="htlfndr-count">12</dt>
										<dd>cities</dd>
									</dl>
								</div><!-- .htlfndr-counter-block -->
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="htlfndr-counter-block">
									<div class="htlfndr-icon-holder"><i class="fa fa-globe"></i></div>
									<dl class="htlfndr-counter-numbers">
										<dt class="htlfndr-count">4%</dt>
										<dd>world</dd>
									</dl>
								</div><!-- .htlfndr-counter-block -->
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="htlfndr-counter-block">
									<div class="htlfndr-icon-holder"><i class="fa fa-map-marker"></i></div>
									<dl class="htlfndr-counter-numbers">
										<dt class="htlfndr-count">7</dt>
										<dd>countries</dd>
									</dl>
								</div><!-- .htlfndr-counter-block -->
							</div>
						</div><!-- .row.htlfndr-counters -->
						<table class="htlfndr-personal-info-table">
							<tr>
								<th class="htlfndr-scope-row">name:</th>
								<td>john brown</td>
							</tr>
							<tr>
								<th class="htlfndr-scope-row">e-mail:</th>
								<td>johnbrown@test.mail.com</td>
							</tr>
							<tr>
								<th class="htlfndr-scope-row">phone number:</th>
								<td>+0 000-000-000</td>
							</tr>
							<tr>
								<th class="htlfndr-scope-row">home airport:</th>
								<td>London Heathrow Airport (LHR)</td>
							</tr>
							<tr>
								<th class="htlfndr-scope-row">street address:</th>
								<td>46 Gray's Inn Rd, London, WC1X 8LP</td>
							</tr>
							<tr>
								<th class="htlfndr-scope-row">city:</th>
								<td>london</td>
							</tr>
							<tr>
								<th class="htlfndr-scope-row">state/ province/ region:</th>
								<td>london</td>
							</tr>
							<tr>
								<th class="htlfndr-scope-row">postal code:</th>
								<td>69106</td>
							</tr>
							<tr>
								<th class="htlfndr-scope-row">country:</th>
								<td>United Kingdom</td>
							</tr>
						</table>
					</div><!-- #htlfndr-user-tab-1 -->
				</div>
				<div class="htlfndr-user-panel col-md-9 col-sm-8 htlfndr-booking-page" id="htlfndr-user-tab-2">
					<table class="table">
						 <thead>
							 <tr>
								 <th>Title</th>
								 <th>Location</th>
								 <th>Order date</th>
								 <th>Date of your stay</th>
								 <th>Cost</th>
							 </tr>
						 </thead>
						 <tbody>
							<tr>
								<td class="htlfndr-scope-row">Wellington Hotel</td>
								<td data-title="Location">San Fancisco</td>
								<td data-title="Order date">01/01/2014</td>
								<td data-title="Date of your stay">01/05/2014  - 01/15/2014</td>
								<td data-title="Cost">$1280</td>
							</tr>
							<tr>
								<td class="htlfndr-scope-row">Ruzzini Palace Hotelo</td>
								<td data-title="Location">Kiev</td>
								<td data-title="Order date">07/03/2014</td>
								<td data-title="Date of your stay">09/05/2014  -15/05/2014</td>
								<td data-title="Cost">$7498</td>
							</tr>
							<tr>
								<td class="htlfndr-scope-row">Foscari Palace</td>
								<td data-title="Location">Copenhagen</td>
								<td data-title="Order date">23/06/2014</td>
								<td data-title="Date of your stay">14/07/2014  - 28/07/2014</td>
								<td data-title="Cost">$890</td>
							</tr>
							<tr>
								<td class="htlfndr-scope-row">Hilton Hotel</td>
								<td data-title="Location">New York</td>
								<td data-title="Order date">14/09/2014</td>
								<td data-title="Date of your stay">18/09/2014  - 19/10/2014</td>
								<td data-title="Cost">$2453</td>
							</tr>
							<tr>
								<td class="htlfndr-scope-row">Wellington Hotel</td>
								<td data-title="Location">San Fancisco</td>
								<td data-title="Order date">08/04/2014</td>
								<td data-title="Date of your stay">08/08/2014  - 17/09/2014</td>
								<td data-title="Cost">$1653</td>
							</tr>
							<tr>
								<td class="htlfndr-scope-row">Hilton Molino Stucky</td>
								<td data-title="Location">Copenhagen</td>
								<td data-title="Order date">02/09/2014</td>
								<td data-title="Date of your stay">12/06/2014  - 16/06/2014</td>
								<td data-title="Cost">$1280</td>
							</tr>
							<tr>
								<td class="htlfndr-scope-row">Hilton Hotel</td>
								<td data-title="Location">San Fancisco</td>
								<td data-title="Order date">01/01/2014</td>
								<td data-title="Date of your stay">18/09/2014  - 10/10/2014</td>
								<td data-title="Cost">$3615</td>
							</tr>
							<tr>
								<td class="htlfndr-scope-row">Wellington Hotel</td>
								<td data-title="Location">Stockholm</td>
								<td data-title="Order date">01/01/2014</td>
								<td data-title="Date of your stay">08/08/2014  - 17/09/2014</td>
								<td data-title="Cost">$859</td>
							</tr>
							<tr>
								<td class="htlfndr-scope-row">Ruzzini Palace Hotelo</td>
								<td data-title="Location">Kiev</td>
								<td data-title="Order date">23/06/2014</td>
								<td data-title="Date of your stay">09/05/2014  -15/05/2014</td>
								<td data-title="Cost">$347</td>
							</tr>
						</tbody>
 					</table>
					<div class="text-right">
						<a href="#"><i class="fa fa-angle-double-left"></i> next</a>
						<a href="#">prev <i class="fa fa-angle-double-right"></i></a>
					</div>
				</div><!-- .htlfndr-user-tabs-2 -->

				<div class="htlfndr-user-panel col-md-9 col-sm-8 htlfndr-credit-page" id="htlfndr-user-tab-3">

					<div class="htlfndr-credit-card">
						<div class="htlfndr-but_edit text-right">
							<a class="glyphicon glyphicon-pencil" href="#" data-toggle="modal" data-target="#htlfndr-edit-card"></a>
							<a class="glyphicon glyphicon-remove" href="#" data-toggle="modal" data-target="#remove-card"></a>
						</div>
						<div class="htlfndr-number-card">
							XXXX XXX XXXX 5622
						</div>
						<div class="htlfndr-valid-card">
							valid thru <span>8/18</span>
						</div>
						<div class="htlfndr-person-card">
							cartholder name<br>
							<span class="htlfndr-person-name">John Brahn</span>
							<span class="pull-right"><img src="images/card_img.png" alt=""></span>
						</div>
					</div>
					<div class="htlfndr-credit-card">
						<div class="htlfndr-but_edit text-right">
							<a class="glyphicon glyphicon-pencil" href="#" data-toggle="modal" data-target="#htlfndr-edit-card"></a>
							<a class="glyphicon glyphicon-remove" href="#" data-toggle="modal" data-target="#remove-card"></a>
						</div>
						<div class="htlfndr-number-card">
							XXXX XXX XXXX 5622
						</div>
						<div class="htlfndr-valid-card">
							valid thru <span>8/18</span>
						</div>
						<div class="htlfndr-person-card">
							cartholder name<br>
							<span class="htlfndr-person-name">John Brahn</span>
							<span class="pull-right"><img src="images/card_img.png" alt=""></span>
						</div>
					</div>
					<div class="htlfndr-credit-card">
						<div class="htlfndr-but_edit text-right">
							<a class="glyphicon glyphicon-pencil" href="#" data-toggle="modal" data-target="#htlfndr-edit-card"></a>
							<a class="glyphicon glyphicon-remove" href="#" data-toggle="modal" data-target="#remove-card"></a>
						</div>
						<div class="htlfndr-number-card">
							XXXX XXX XXXX 5622
						</div>
						<div class="htlfndr-valid-card">
							valid thru <span>8/18</span>
						</div>
						<div class="htlfndr-person-card">
							cartholder name<br>
							<span class="htlfndr-person-name">John Brahn</span>
							<span class="pull-right"><img src="images/visa_card.png" alt=""></span>
						</div>
					</div>
					<div class="htlfndr-credit-card">
						<div class="htlfndr-add-card">
							<a data-target="#htlfndr-add-card" data-toggle="modal" href="">
								<span class="glyphicon glyphicon-plus"></span>
								Add new card
							</a>
						</div>
					</div>
				</div><!-- .row .htlfndr-user-tabs-3 -->
				<div class="htlfndr-wishlist-page" id="htlfndr-user-tab-4">
					<div class="htlfndr-user-panel col-md-9 col-sm-8 htlfndr-search-result htlfndr-grid-view">
						<div class="htlfndr-hotel-post-wrapper">
							<div class="htlfndr-hotel-post clearfix">
								<a class="glyphicon glyphicon-remove" href="#" data-toggle="modal" data-target="#remove-page"></a>
								<a href="hotel-page-v1.html" class="htlfndr-hotel-thumbnail pull-left">
									<img src="http://placehold.it/300x175" alt="pic" />
								</a>
									<div class="htlfndr-hotel-description">
										<div class="htlfndr-description-content">
										<div class="htlfndr-rating-stars" data-rating="5">
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<p class="htlfndr-hotel-reviews">(<span>188</span> reviews)</p>
										</div><!-- .htlfndr-rating-stars -->
										<h2 class="htlfndr-entry-title"><a href="hotel-page-v1.html">King Size Bedroom</a></h2>

										<h5 class="htlfndr-hotel-location"><a href="#"><i class="fa fa-map-marker"></i>san francisco united states</a></h5>
										<p class="htlfndr-last-booking">Lastest booking: <span>14</span> hours ago</p>
									</div><!-- .htlfndr-description-content -->

									<span class="htlfndr-from">From</span>
									<div class="htlfndr-hotel-price">
										 <span class="htlfndr-cost">$ 100</span>
									</div><!-- .htlfndr-hotel-price -->
									<span class="htlfndr-per-night">per night</span>
								</div><!-- .htlfndr-hotel-description -->
								<a href="hotel-page-v1.html" role="button" class="htlfndr-select-hotel-button">select</a>
							</div><!-- .htlfndr-hotel-post -->
							<div class="htlfndr-hotel-post clearfix">
								<a class="glyphicon glyphicon-remove" href="#" data-toggle="modal" data-target="#remove-page"></a>
								<a href="hotel-page-v3.html" class="htlfndr-hotel-thumbnail pull-left">
									<img src="http://placehold.it/300x175" alt="pic" />
								</a>
									<div class="htlfndr-hotel-description">
										<div class="htlfndr-description-content">
										<div class="htlfndr-rating-stars" data-rating="3">
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star "></i>&nbsp;
											<i class="fa fa-star "></i>&nbsp;
											<p class="htlfndr-hotel-reviews">(<span>188</span> reviews)</p>
										</div><!-- .htlfndr-rating-stars -->
										<h2 class="htlfndr-entry-title"><a href="hotel-page-v3.html">Awesome Suit</a></h2>

										<h5 class="htlfndr-hotel-location"><a href="#"><i class="fa fa-map-marker"></i>paris france</a></h5>
										<p class="htlfndr-last-booking">Lastest booking: <span>14</span> hours ago</p>
									</div><!-- .htlfndr-description-content -->

									<span class="htlfndr-from">From</span>
									<div class="htlfndr-hotel-price">
										 <span class="htlfndr-cost">$ 250</span>
									</div><!-- .htlfndr-hotel-price -->
									<span class="htlfndr-per-night">per night</span>
								</div><!-- .htlfndr-hotel-description -->
								<a href="hotel-page-v3.html" role="button" class="htlfndr-select-hotel-button">select</a>
							</div><!-- .htlfndr-hotel-post -->
							<div class="htlfndr-hotel-post special-offer clearfix">
								<a class="glyphicon glyphicon-remove" href="#" data-toggle="modal" data-target="#remove-page"></a>
								<a href="hotel-page-v2.html" class="htlfndr-hotel-thumbnail pull-left">
									<img src="http://placehold.it/300x175" alt="pic" />
								</a>
									<div class="htlfndr-hotel-description">
										<div class="htlfndr-description-content">
										<div class="htlfndr-rating-stars" data-rating="4">
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star"></i>&nbsp;
											<p class="htlfndr-hotel-reviews">(<span>128</span> reviews)</p>
										</div><!-- .htlfndr-rating-stars -->
										<h2 class="htlfndr-entry-title"><a href="hotel-page-v2.html">Ruzzini Palace hotel</a></h2>

										<h5 class="htlfndr-hotel-location"><a href="#"><i class="fa fa-map-marker"></i>paris france</a></h5>
										<p class="htlfndr-last-booking">Lastest booking: <span>14</span> hours ago</p>
									</div><!-- .htlfndr-description-content -->

									<span class="htlfndr-from">From</span>
									<div class="htlfndr-hotel-price">
										 <span class="htlfndr-cost">$ 150</span>
									</div><!-- .htlfndr-hotel-price -->
									<span class="htlfndr-per-night">per night</span>
								</div><!-- .htlfndr-hotel-description -->
								<a href="hotel-page-v2.html" role="button" class="htlfndr-select-hotel-button">select</a>
							</div><!-- .htlfndr-hotel-post -->
							<div class="htlfndr-hotel-post clearfix">
								<a class="glyphicon glyphicon-remove" href="#" data-toggle="modal" data-target="#remove-page"></a>
								<a href="hotel-page-v1.html" class="htlfndr-hotel-thumbnail pull-left">
									<img src="http://placehold.it/300x175" alt="pic" />
								</a>
									<div class="htlfndr-hotel-description">
										<div class="htlfndr-description-content">
										<div class="htlfndr-rating-stars" data-rating="5">
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<p class="htlfndr-hotel-reviews">(<span>128</span> reviews)</p>
										</div><!-- .htlfndr-rating-stars -->
										<h2 class="htlfndr-entry-title"><a href="hotel-page-v1.html">forcari palace</a></h2>

										<h5 class="htlfndr-hotel-location"><a href="#"><i class="fa fa-map-marker"></i>las vegas united states</a></h5>
										<p class="htlfndr-last-booking">Lastest booking: <span>14</span> hours ago</p>
									</div><!-- .htlfndr-description-content -->

									<span class="htlfndr-from">From</span>
									<div class="htlfndr-hotel-price">
										 <span class="htlfndr-cost">$ 300</span>
									</div><!-- .htlfndr-hotel-price -->
									<span class="htlfndr-per-night">per night</span>
								</div><!-- .htlfndr-hotel-description -->
								<a href="hotel-page-v1.html" role="button" class="htlfndr-select-hotel-button">select</a>
							</div><!-- .htlfndr-hotel-post -->
							<div class="htlfndr-hotel-post clearfix">
								<a class="glyphicon glyphicon-remove" href="#" data-toggle="modal" data-target="#remove-page"></a>
								<a href="hotel-page-v3.html" class="htlfndr-hotel-thumbnail pull-left">
									<img src="http://placehold.it/300x175" alt="pic" />
								</a>
									<div class="htlfndr-hotel-description">
										<div class="htlfndr-description-content">
										<div class="htlfndr-rating-stars" data-rating="5">
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<i class="fa fa-star htlfndr-star-color"></i>&nbsp;
											<p class="htlfndr-hotel-reviews">(<span>128</span> reviews)</p>
										</div><!-- .htlfndr-rating-stars -->
										<h2 class="htlfndr-entry-title"><a href="hotel-page-v3.html">hilton molino stucky</a></h2>

										<h5 class="htlfndr-hotel-location"><a href="#"><i class="fa fa-map-marker"></i>las vegas united states</a></h5>
										<p class="htlfndr-last-booking">Lastest booking: <span>14</span> hours ago</p>
									</div><!-- .htlfndr-description-content -->

									<span class="htlfndr-from">From</span>
									<div class="htlfndr-hotel-price">
										 <span class="htlfndr-cost">$ 300</span>
									</div><!-- .htlfndr-hotel-price -->
									<span class="htlfndr-per-night">per night</span>

								</div><!-- .htlfndr-hotel-description -->
								<a href="hotel-page-v3.html" role="button" class="htlfndr-select-hotel-button">select</a>
							</div><!-- .htlfndr-hotel-post -->

						</div><!--.htlfndr-hotel-post-wrapper -->

					<p class="htlfndr-load_more text-right"><a href="#">Load more +</a></p>
					</div>
				</div><!-- .htlfndr-user-tabs-4 -->

				<div class="htlfndr-user-panel col-md-9 col-sm-8 htlfndr-setting-page" id="htlfndr-user-tab-5">
					<div class="htlfndr-setting">
						<h2>Change <b>Personal Infomation</b></h2>
						<form  class="htlfndr-form-setting" id="htlfndr-settings-form" method="post">
							<div class="row">
								<div class="col-md-5 htlfndr-form-setting-cols">
									<label for="settings-name" class="">Name</label><br>
									<input id="settings-name" class="htlfndr-input" type="text" name="settings-name" placeholder="John Brown"><br>
									<label for="settings-phone" class="">Phone number</label><br>
									<input id="settings-phone" class="htlfndr-input" type="text" name="settings-phone" placeholder="+0 000-000-000"><br>
									<label for="settings-adress" class="">Street Adress</label><br>
									<input id="settings-adress" class="htlfndr-input" type="text" name="settings-adress" placeholder="46 Gray Inn Rd, London, WCIX"><br>
									<label for="settings-state" class="">State/Province/Region</label><br>
									<input id="settings-state" class="htlfndr-input" type="text" name="settings-state" placeholder="London"><br>
									<label for="settings-country" class="">Country</label><br>
									<input id="settings-country" class="htlfndr-input" type="text" name="settings-country" placeholder="United Kingdom"><br>
								</div>
								<div class="col-md-5 htlfndr-form-setting-cols">
									<label for="settings-email" class="">E-mail</label><br>
									<input id="settings-email" class="htlfndr-input" type="text" name="settings-email" placeholder="johnbrown@mail.com"><br>
									<label for="settings-subject" class="">Home airport</label><br>
									<input id="settings-subject" class="htlfndr-input" type="text" name="settings-home-airport" placeholder="London Heathrow Airport (LHR)"><br>
									<label for="settings-city" class="">City</label><br>
									<input id="settings-city" class="htlfndr-input" type="text" name="settings-city" placeholder="London"><br>
									<label for="settings-code" class="">Postal Code</label><br>
									<input id="settings-code" class="htlfndr-input" type="text" name="settings-code" placeholder="69106"><br>
								</div>
							</div>
							<input type="submit" value="Save changes" class="btn-primary">
						</form>
						<h2>Change <b>Password</b></h2>
						<form  class="htlfndr-change-setting" id="htlfndr-settings-pass" method="post">
							<div class="row">
								<div class="col-md-5 htlfndr-form-setting-cols">
									<label for="settings-cur-pass" class="">Current Password</label><br>
									<input id="settings-cur-pass" class="htlfndr-input" type="text" name="settings-cur-pass" ><br>
									<label for="settings-new-pass" class="">New Password</label><br>
									<input id="settings-new-pass" class="htlfndr-input" type="text" name="settings-new-pass" ><br>
									<label for="settings-new-pass-again" class="">New Password Again</label><br>
									<input id="settings-new-pass-again" class="htlfndr-input" type="text" name="settings-new-pass-again" ><br>

								</div>
								<div class="col-md-5 htlfndr-form-setting-cols">
								</div>
							</div>
							<input type="submit" value="Save password" class="btn-primary">
						</form>
					</div><!--.htlfndr-setting -->
				</div><!-- .htlfndr-user-tabs-5 -->
			</div> <!-- .row -->
		</main><!-- #htlfndr-main-content -->
	</div><!-- .container -->
	<!-- End of main content -->


{% endblock %}