<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Add</h3>
    <form action="http://127.0.0.1:5000/saveEdit", method="POST">

        <p>ID <br><input type="text" name = "id"></p>
        <p>Name <br><input type="text" name="name"></p>
        <p>Address <br><input type="text" name="address"></p>
        <p>Classroom <br><input type="text" name="classroom"></p>
        <p><input type="submit" value="Edit"></p>
    </form>
    <p><a href="/show">Back</a></p>
</body>
</html>