{% extends 'base.html' %}

{% block content %}
    <div class="card-wrapper">
        <div class="card">

            <div class="center">Create An Account</div>

            <form action="" name="signup_form">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="field" required>

                <label for="email_su">Email</label>
                <input type="text" name="email" id="email_su" class="field" required>

                <label for="password_su">Password</label>
                <input type="password" name="password" id="password_su" class="field" required>

                <p class="error error--hidden"></p>
                <input type="submit" value="Sign Up" class="btn">
            </form>

        </div>

        <div class="card">

            <div class="center">Log In</div>

            <form action="" name="login_form">

                <label for="email_si">Email</label>
                <input type="text" name="email" id="email_si" class="field" required>

                <label for="password_si">Password</label>
                <input type="password" name="password" id="password_si" class="field" required>

                <p class="error error--hidden"></p>
                <input type="submit" value="Log In" class="btn">
            </form>

        </div>

    </div>


{% endblock %}